html {
  background-color: lightgrey;
  font-family: sans-serif;
}
body {
  margin: 0px;
}
.applications-box {
  margin: 20px;
}
.applications {
  min-height: 50px;
  background-color: rgb(158, 180, 255);
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px grey;
  padding: 10px 9px;
}
.applications .title {
  font-size: 20px;
  padding: 5px;
}
.application-box {
  box-sizing: border-box;
  width: 50%;
  min-width: 500px;
  float: left;
  padding: 10px;
}
.application {
  min-height: 150px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px rgb(112, 134, 255);
  padding: 10px;
}
.application .name {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 5px;
}
.application .ready {
  display: inline-block;
  font-size: 12px;
  padding-left: 5px;
  color: red;
}
.application .ready .online {
  color: green;
}
.application .status {
  height: 100px;
  max-height: 100px;
  overflow: hidden;
  padding-top: 5px;
}
.application .link {
  float: right;
}
