<div class="app filter pure-g application-{{_id}}{{#each tags}} tag-{{nsp this}}{{/each}}{{#each networks}} network-{{this}}{{/each}} tag-color-{{tagcolor}}">
  {{#if link}}
  <div class="pure-u-1-4 left">
    <h5 {{#if (eq status "stopped")}}style="color:#f88"{{/if}}>{{status}}</h5>
    <h4>{{name}}</h4>
    <h6>{{ip}}</h6>
    <a href="{{link}}" target="_blank"><div class="link-right"></div></a>
    <div class="link-left" onclick="openInlinePage('configure/{{_id}}/')"></div>
  </div>
  {{else}}
  <div class="pure-u-1-4 left single" onclick="openInlinePage('configure/{{_id}}/')">
    <h5 {{#if (eq status "stopped")}}style="color:#f88"{{/if}}>{{status}}</h5>
    <h4>{{name}}</h4>
    <h6>{{ip}}</h6>
  </div>
  {{/if}}
</div>
