<td>
  <div class="home"></div>
  <div class="application">
    <img class="icon" src="img/settings.png" onclick="openInlinePage('settings/{{id}}/')">
    <div class="name">{{id}}</div>
    <div class="ready">{{#if online}}<span class="online">running</span>{{else}}<span class="offline">stopped</span>{{/if}}</div>
    <div class="status-box">
      <iframe class="status resize" frameborder="0" width="600" height="70"></iframe>
    </div>
    {{#if link}}
    <div class="link" onclick="openInlinePage('{{link}}')">Details</div>
    {{/if}}
  </div>
</td>
{{#each allnetworks}}
<td>
  <div class="net {{#if (or (eq name ../networks.primary) (eq name ../networks.secondary))}}attached{{/if}}"></div>
</td>
{{/each}}
<td>
  <div class="padding"></div>
</td>