<div class="app filter pure-g application-{{_id}}{{#each tags}} tag-{{nsp this}}{{/each}}{{#each networks}} network-{{this}}{{/each}} tag-color-{{tagcolor}} {{#if cluster.name}}host-{{cluster.name}}{{else}}host-local{{/if}}">
  {{#if link}}
  <div class="pure-u-1-4 left">
    <h5 {{#if (eq status "stopped")}}style="color:#f88"{{/if}}>{{status}}</h5>
    <h4>{{name}}</h4>
    <h6>{{ip}}</h6>
    <div class="link-right"
      {{#if cluster.ip}}
      onclick="openInlinePage('http://{{cluster.ip}}{{link}}','{{linktarget}}')"
      {{else}}
      onclick="openInlinePage('{{link}}','{{linktarget}}')"
      {{/if}}
    ></div>
    <div class="link-left"
      {{#if cluster.ip}}
      onclick="openInlinePage('http://{{cluster.ip}}/configure/{{_id}}/')"
      {{else}}
      onclick="openInlinePage('configure/{{_id}}/')"
      {{/if}}
    ></div>
  </div>
  {{else}}
  <div class="pure-u-1-4 left single"
      {{#if cluster.ip}}
      onclick="openInlinePage('http://{{cluster.ip}}/configure/{{_id}}/')"
      {{else}}
      onclick="openInlinePage('configure/{{_id}}/')"
      {{/if}}
  >
    <h5 {{#if (eq status "stopped")}}style="color:#f88"{{/if}}>{{status}}</h5>
    <h4>{{name}}</h4>
    <h6>{{ip}}</h6>
  </div>
  {{/if}}
</div>
