<div {{#if minwidth}}style="min-width:{{minwidth}}"{{/if}} class="application-status filter {{#each tags}} tag-{{nsp this}}{{/each}}{{#each networks}} network-{{this}}{{/each}} tag-color-{{tagcolor}} application-status-{{_id}} link {{#if running}}running{{/if}} {{#if cluster.name}}host-{{cluster.name}}{{else}}host-local{{/if}}"
  {{#if link}}
  {{#if cluster.ip}}
    onclick="openInlinePage('http://{{cluster.ip}}{{link}}','{{linktarget}}')"
  {{else}}
    onclick="openInlinePage('{{link}}','{{linktarget}}')"
  {{/if}}
  {{else if cluster.ip}}
    onclick="openInlinePage('http://{{cluster.ip}}/configure/{{_id}}/')"
  {{else}}
    onclick="openInlinePage('configure/{{_id}}/')"
  {{/if}}>
  <div class="status">{{#if running}}{{{init}}}{{/if}}</div>
  <div class="name">{{name}}</div>
</div>
