<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-1-5">
    <a class="pure-button pure-button-active" href="/minkebox.config" download="minkebox.config">Backup</a>
  </div>
  <div class="pure-u-1-5"></div>
  <div class="pure-u-1-5">
    <input class="pure-button pure-button-active" type="button" value="Restore" data-popbox-target="restore">
  </div>
  <div class="pure-u-1-5"></div>
</div>
<div data-popbox-id="restore" class="popbox">
  <div class="popbox_container">
    <div class="content-header">Restore Configuration</div>
    <div class="content-text">
      Are you sure you want to restore? EVERYTHING will be REMOVED!
    </div>
    <div class="spacer">
      <button class="pure-button button-restore" data-popbox-close="restore">Restore</button>
      <button class="pure-button button-no" data-popbox-close="restore">No</button>
    </div>
  </div>
</div>
<script>
document.addEventListener('popbox_closing', (e) => {
  if (e.detail.source.classList.contains('button-restore')) {
    const upload = document.createElement('input');
    upload.type = 'file';
    upload.accept = '.config';
    upload.click();
    upload.addEventListener('change', () => {
      console.log(upload.files);
      if (upload.files.length) {
        const reader = new FileReader();
        reader.onload = function(evt) {
          cmd('app.restore-all', evt.target.result);
        }
        reader.readAsText(upload.files[0]);
      }
    });
  }
});
</script>
