<span id="{{name}}">
{{#if value}}
  <a class="pure-button pure-button-primary">Download</a>
  <script>
    const a = document.getElementById("{{name}}").firstElementChild;
    const url = URL.createObjectURL(new Blob([ `{{{value}}}` ], { type: 'text/plain' }));
    a.href = url;
    a.download = "{{filename}}";
  </script>
{{else}}
  <input class="pure-button pure-button-active" type="button" disabled value="Download">
  <script>
    setTimeout(() => {
      cmd('app.update-download', '{{name}}');
    }, 5000);
  </script>
{{/if}}
</div>
