<table class="pure-table pure-table-horizontal pure-input-rounded pure-u-16-24" oninput="saveTable('{{action}}',this)" onclick="addRmTableRow('{{action}}',window.event)">
  <thead>
    <tr>
      <th>Share name</th>
      <th style="display:none"></th>
      <th class="control"><span class="add">+</span></th>
    </tr>
  </thead>
  <tbody>
    {{#each shareables}}
    <tr>
      <td {{#if empty}}contenteditable="true"{{else}}class="no-remove"{{/if}}>{{name}}</td>
      <td class="control">{{#if empty}}<span class="remove">&minus;</span>{{else}}<span class="no-remove">&minus;</span>{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
