<div class="summary">
  <input data-id="app.features.vpn" class="feature-vpn editable" type="checkbox" {{#unless @root.editmode}}disabled{{/unless}} {{#if app.features.vpn}}checked{{/if}}>VPN
  <input data-id="app.features.web" class="feature-web editable" type="checkbox" {{#unless @root.editmode}}disabled{{/unless}} {{#if app.features.web}}checked{{/if}}>Web
  <input data-id="app.features.dns" class="feature-dns editable" type="checkbox" {{#unless @root.editmode}}disabled{{/unless}} {{#if app.features.dns}}checked{{/if}}>DNS
</div>