{{#if (gt hosts.length 1)}}
<ul class="pure-menu-list" style="padding-left:6px">
  <li class="pure-menu-heading">Hosts</li>
</ul>
<ul class="pure-menu-list">
  {{#each hosts}}
  <ul class="pure-menu-list host-{{nsp this}}">
    <li class="pure-menu-item"><a class="pure-menu-link color-tag" onclick="filter('host-{{nsp this}}')"><span class="tag-color-{{mod @index 20}}"></span>{{this}}</a></li>
  </ul>
  {{/each}}
</ul>
{{/if}}
