<div class="edit-mode">
  <div class="title">Run <div data-id="app.monitor.cmd" data-placeholder="shell cmd" contentEditable="false" class="cmd editable">{{cmd}}</div> when <div data-id="app.monitor.watch" data-placeholder="filename" contentEditable="false" class="watch editable">{{watch}}</div> changes or poll every <div data-id="app.monitor.polling" data-placeholder="60" contentEditable="false" class="polling editable">{{polling}}</div> seconds</div>
  <div class="title">Parse</div>
  <div data-id="app.monitor.parser" data-placeholder="Javascript (e.g. output=input)" contentEditable="false" class="parser editable">{{parser}}</div>
  <div class="title">Display</div>
  <div data-id="app.monitor.template" data-placeholder="Handlebar template" contentEditable="false" class="template editable">{{template}}</div>
</div>
<div class="view-mode">
  {{#if cmd}}Active{{else}}Inactive{{/if}}
</div>
