<table class="pure-table pure-table-horizontal pure-input-rounded pure-u-16-24 websites"  oninput="saveTable('{{action}}',this)" onchange="saveTable('{{action}}',this)">
  <thead>
    <tr>
      <th>Name</th>
      <th>Port</th>
      <th style="display:none"></th>
      <th>Published Name</th>
      <th>Publish</th>
    </tr>
  </thead>
  <tbody>
    {{#each websites}}
    <tr>
      <td>{{name}}</td>
      <td data-ignore>{{port}}</td>
      <td style="display:none">{{appid}}</td>
      <td><input type="text" value="{{dns}}" placeholder="Website name" oninput="publish(this)"></td>
      <td><input class="value" type="checkbox" {{#if published}}checked{{/if}} onchange="publish(this)"></td>
    </tr>
    {{/each}}
  </tbody>
</table>
