<!DOCTYPE html>
<html class="newapp {{#if Advanced}}advanced-mode{{/if}} darkmode-{{DarkMode}}">
  <head>
    <script>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.write('<link href="/css/colors-light.css" rel="stylesheet" type="text/css">');
        document.write('<link href="/css/colors-dark.css" rel="stylesheet" type="text/css">');
      }
      else {
        document.write('<link href="/css/colors-dark.css" rel="stylesheet" type="text/css">');
        document.write('<link href="/css/colors-light.css" rel="stylesheet" type="text/css">');
      }
    </script>
    <link href="/css/apps.css" rel="stylesheet" type="text/css">
    <link href="/css/pure.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" type="text/javascript"></script>
    <script>
      function resizeMsg() {
        parent.postMessage(JSON.stringify({ type: 'child.window.size', name: 'body', width: document.body.scrollWidth, height: document.body.scrollHeight }), '*');
      }
      window.onload = resizeMsg;
      window.onresize = resizeMsg;
    </script>
  </head>
  <body>
    <div class="content pure-u-1">
      <div>
        <div class="section-header">Download named application</div>
        <div class="text">
          You can install an app by clicking on one of the suggestions; or
          you can choose another Docker app by entering its registry name, or by dropping
          a Skeleton or Docker compose file here.
        </div>
        <div class="section">
          <div class="pure-form pure-form-aligned">
            <div class="pure-control-group">
              <label>Enter Registry Name or drop Skeleton or Docker compose file</label>
              <input data-skeleton="true" type="text" spellcheck="false" onkeypress="window.event.keyCode===13&&install(this.value,'registry-name')" class="pure-input-rounded pure-u-2-3">
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-header">Applications</div>
        <div class="pure-g">
        {{#each skeletons}}
        <div class="skel pure-u-1-2 application-image" data-name="{{image}}">
          {{#if canDelete}}<a class="cross-icon" onclick="deleteImg('{{image}}')"></a>{{/if}}
          {{#if personal}}<div class="personal-icon fgcolor-{{color}}">personal</div>{{/if}}
          <div class="inner" onclick="install('{{image}}','catalogue')">
            <div class="bgcolor-{{color}} icon">
              <div class="icon-inner fgcolor-{{color}}">{{pre}}</div>
            </div>
            <div class="info">
              <div class="name">{{name}}</div>
              <div class="description">{{description}}</div>
            </div>
          </div>
        </div>
        {{/each}}
      </div></div>
    </div>
  </body>
</html>
