<!DOCTYPE html>
<html class="newapp {{#if Advanced}}advanced-mode{{/if}} darkmode-{{DarkMode}}">
  <head>
    <script>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.write('<link href="/css/colors-light.css" rel="stylesheet" type="text/css">');
        document.write('<link href="/css/colors-dark.css" rel="stylesheet" type="text/css">');
      }
      else {
        document.write('<link href="/css/colors-dark.css" rel="stylesheet" type="text/css">');
        document.write('<link href="/css/colors-light.css" rel="stylesheet" type="text/css">');
      }
    </script>
    <link href="/css/apps.css" rel="stylesheet" type="text/css">
    <link href="/css/pure.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="pure-g">
      <div class="sidebar pure-u-1">
        <div class="header">
          <div class="name">Applications</div>
          <h2 class="description">Select the application to install
            {{#if cluster.length}}
              to
              <select onchange="document.getElementById('body').src='about:blank';setTimeout(()=>{document.getElementById('body').src=this.value},50)">
              <option value="?s=1">Local</option>
              {{#each cluster}}
              <option value="http://{{ip}}/new/application/?s=1">{{name}}</option>
              {{/each}}
              </select>
            </div>
            {{/if}}
          </h2>
        </div>
      </div>
    </div>
    <div style="height:100%">
      <iframe id="body" src="?s=1" allow="fullscreen" scrolling="no" frameborder="0" width="100%"></iframe>
    </div>
    <div data-popbox-id="download" data-popbox-noautoclose="1" class="popbox">
      <div class="popbox_container">
        <div class="section">
          <div class="pure-g">
            <div class="text pure-u-3-4">Downloading and installing application</div>
            <div class="download-spinner lds-dual-ring pure-u-1-4"></div>
          </div>
          <div class="pure-g">
            <div class="bar-title pure-u-1-2">
              <span>Downloading</span>
              <progress class="download" value=0 max=100></progress>
            </div>
            <div class="bar-title pure-u-1-2">
              <span>Installing</span>
              <progress class="extract" value=0 max=100></progress>
            </div>
          </div>
          <div class="download-button pure-g">
            <div class="pure-u-1-2">
              <button class="pure-button button-cancel" data-popbox-close="download">Cancel</button>
            </div>
            <div class="pure-u-1-2 download-message"></div>
          </div>
        </div>
      </div>
    </div>
    <div data-popbox-id="delete" class="popbox dialog">
      <div class="popbox_container">
        <div class="content-header">Delete Application</div>
        <div class="content-text">
          Are you sure you want to delete this application?
        </div>
        <div class="spacer">
          <button class="pure-button button-delete-app" data-popbox-close="delete">Yes</button>
          <button class="pure-button button-no" data-popbox-close="delete">No</button>
        </div>
      </div>
    </div>
    <script>
      const popbox = new Popbox({ blur: false, overlay: true });
      let image = null;
      document.addEventListener('popbox_opening', e => {
        image = e.detail.arg;
        document.querySelector('.download-spinner').classList.remove('error');
        document.querySelector('.download-message').innerHTML = '';
        document.querySelector('.download').value = 0;
        document.querySelector('.extract').value = 0;
      });
      document.addEventListener('popbox_closing', e => {
        if (e.detail.source.classList.contains('button-delete-app')) {
          msgToChild('body', { type: 'appimage.delete', value: image });
        }
        else {
          msgToChild('body', { type: 'newapp.cancel' });
        }
      });
    </script>
  </body>
</html>
