<!DOCTYPE html>
<html class="configure {{#if Advanced}}advanced-mode{{/if}} darkmode-{{DarkMode}}">
  <head>
    <base target="_blank">
    <script>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.write('<link href="/css/colors-light.css" rel="stylesheet" type="text/css">');
        document.write('<link href="/css/colors-dark.css" rel="stylesheet" type="text/css">');
      }
      else {
        document.write('<link href="/css/colors-dark.css" rel="stylesheet" type="text/css">');
        document.write('<link href="/css/colors-light.css" rel="stylesheet" type="text/css">');
      }
    </script>
    <link href="/css/configure.css" rel="stylesheet" type="text/css">
    <link href="/css/pure.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/ace.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="pure-g">
      {{#with skeleton}}
      <div class="sidebar pure-u-1">
        <div class="header">
          {{#if ../skeletonType}}
            <div class="skeleton-type">{{../skeletonType}}</div>
          {{/if}}
          <div class="name">
            <input size="25" type="text" placeholder="{{name}}" oninput="action('Name',this.value)" value="{{value}}">
          </div>
          <h2 class="description">{{{description}}}</h2>
          <nav>
            {{#if ../minkeConfig}}
            <a class="pure-button admin-only" onclick="openConsoleWindow('minke')">Console</a>
            <a class="pure-button admin-only" onclick="openLogWindow('minke')">Logs</a>
            {{#if ../help}}<a class="pure-button" onclick="toggleHelp()">Help</a>{{/if}}
            {{#if ../NoSystemControl}}
            <a class="pure-button admin-only" data-popbox-target="update">Update</a>
            <a class="pure-button admin-only" data-popbox-target="restart">Restart</a>
            <a class="pure-button" data-popbox-target="halt">Shutdown</a>
            {{else}}
            <a class="pure-button admin-only" data-popbox-target="update">Update</a>
            <a class="pure-button admin-only" data-popbox-target="restart">Restart</a>
            <a class="pure-button" data-popbox-target="reboot">Reboot</a>
            <a class="pure-button" data-popbox-target="halt">Power Off</a>
            {{/if}}
            {{else}}
            <a class="pure-button admin-only" onclick="openConsoleWindow('{{id}}')" {{#if ../firstUse}}disabled{{/if}}>Console</a>
            <a class="pure-button admin-only" onclick="openLogWindow('{{id}}')" {{#if ../firstUse}}disabled{{/if}}>Logs</a>
            {{#each ../navbuttons}}
            <a class="pure-button" href="{{link}}" target="{{linktarget}}" {{#if ../../firstUse}}disabled{{/if}}>{{name}}</a>
            {{/each}}
            {{#if (eq ../skeletonType 'Personal')}}
            <a class="pure-button" onclick="setEditMode(null)||cmd('app.save')">Edit</a>
            {{else}}
            <a class="pure-button admin-only" onclick="setEditMode(null)||cmd('app.save')">Edit</a>
            {{/if}}
            {{#if ../help}}<a class="pure-button" onclick="toggleHelp()">Help</a>{{/if}}
            <a class="pure-button" onclick="cmd('app.restart');this.innerText='Restart'">{{#if ../firstUse}}Start{{else}}Restart{{/if}}</a>
            <a class="pure-button" data-popbox-target="delete">Delete</a>
            {{/if}}
          </nav>
        </div>
      </div>
      <div class="content pure-u-1">
        <form class="actions pure-form pure-form-aligned">
          <div class="section">
          {{#each actions}}
          {{#if (eq type "Header")}}
          </div>
          <div class="section {{#if visible}}invisible{{/if}}" {{#if id}}id="{{id}}"{{/if}}>
          <div class="content-header value">{{title}}</div>
          {{else if (eq type "Text")}}
          <div class="content-text {{#if visible}}invisible{{/if}}" {{#if id}}id="{{id}}"{{/if}}><div class="value">{{{text}}}</div></div>
          {{else if (eq type "Help")}}
          <div class="help-text {{#if visible}}invisible{{/if}}" {{#if id}}id="{{id}}"{{/if}}><div class="help-text-content value">{{{text}}}</div></div>
          {{else if (eq type "EditEnvironment")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action environment table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            {{#if options}}
            <select class="value can-disable" onchange="{{action}}">
              {{#each options}}
              <option value="{{value}}" {{#if (eq value ../value)}}selected{{/if}}>{{name}}</option>
              {{/each}}
            </select>
            {{else}}
            <input class="pure-input-rounded pure-u-16-24 value can-disable" type="text" spellcheck="false" placeholder="{{placeholder}}" value="{{value}}" oninput="{{action}}" {{#if validate}}pattern="^{{validate}}$"{{/if}}>
            {{/if}}
          </div>
          {{else if (eq type "SetEnvironment")}}
          {{#if id}}
          <div id="{{id}}" class="action environment table pure-control-group invisible">
            <input class="value" type="text" value="{{value}}">
          </div>
          {{/if}}
          {{else if (eq type "EditEnvironmentAsCheckbox")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action environment table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            <input class="value can-disable" type="checkbox" onchange="{{action}}" {{#if value}}checked{{/if}}>
          </div>
          {{else if (eq type "EditEnvironmentAsTable")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action environment table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            {{> EditTable}}
          </div>
          {{else if (eq type "SelectWebsites")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action environment table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            <table class="pure-table pure-table-horizontal pure-input-rounded pure-u-16-24 websites"  oninput="saveTable('{{action}}',this)" onchange="saveTable('{{action}}',this)">
              {{> SelectWebsites}}
            </table>
          </div>
          {{else if (eq type "Argument")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action argument pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            <input class="value" type="text" placeholder="{{placeholder}}" value="{{value}}" oninput="{{action}}">
          </div>
          {{else if (eq type "EditFile")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action file table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            <textarea class="can-disable value pure-input-rounded pure-u-16-24" spellcheck="false" oninput="{{action}}">{{value}}</textarea>
          </div>
          {{else if (eq type "ShowFile")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action file table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            <div class="value pure-input-rounded pure-u-16-24">{{value}}</div>
          </div>
          {{else if (eq type "EditFileAsTable")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action file table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            {{> EditTable}}
          </div>
          {{else if (eq type "DownloadFile")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action file table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            {{> DownloadFile}}
          </div>
          {{else if (eq type "ShowFileAsTable")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action file table pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            {{> ShowTable}}
          </div>
          {{else if (eq type "SelectNetwork")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action network pure-control-group {{#if visible}}invisible{{/if}}">
            <label class="description">{{{description}}}</label>
            <select class="value" onchange="{{action}}">
              {{#each networks}}
              {{#if _id}}
              <option value="{{_id}}" {{#if (eq ../value _id)}}selected{{/if}}>{{name}}</option>
              {{/if}}
              {{/each}}
            </select>
          </div>
          {{else if (eq type "SelectDirectory")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action shareables pure-control-group {{#if visible}}invisible{{/if}}">
            {{#if shareables}}
            <label class="description">{{{description}}}</label>
            {{> SelectDirectory}}
            {{else}}
            <div style="text-align: center">No applications sharing.</div>
            {{/if}}
          </div>
          {{else if (eq type "SelectShares")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action shareables pure-control-group {{#if visible}}invisible{{/if}}">
            {{#if shareables}}
            <label class="description">{{{description}}}</label>
            {{> SelectShares}}
            {{else}}
            <div style="text-align: center">No applications sharing.</div>
            {{/if}}
          </div>
          {{else if (eq type "SelectBackups")}}
          <div {{#if id}}id="{{id}}"{{/if}} class="action backups pure-control-group {{#if visible}}invisible{{/if}}">
            {{#if backups}}
            <label class="description">{{{description}}}</label>
            {{> SelectBackups}}
            {{else}}
            <div style="text-align: center">Nothing to backup.</div>
            {{/if}}
          </div>
          {{else if (eq type "Script")}}
          {{#if script}}
          <script>(function(){ {{{script}}} })()</script>
          {{else if include}}
          <script src="/js/{{include}}.js" type="text/javascript"></script>
          {{/if}}
          {{else if (eq type "__Disks")}}
          <div class="action disks pure-control-group">
            {{> Disks}}
          </div>
          {{else if (eq type "__Captcha")}}
          <div class="action pure-control-group">
            <label class="description wide">MinkeBox provides its own DDNS service which applications use automatically once we have verified you are human</label>
            <button {{#if enabled}}onclick="window.cmd('app.open-captcha');event.preventDefault()"{{else}}disabled{{/if}} class="pure-button">{{label}}</button>
          </div>
          {{else if (eq type "__BackupAndRestore")}}
          <div class="action disks pure-control-group">
            {{> BackupAndRestore}}
          </div>
          {{/if}}
          {{else}}
          <div class="content-header">Nothing to configure</div>
          {{/each}}
          </div>
        </form>
      {{/with}}
        <div class="skeleton">
          <div class="content-header">Skeleton</div>
          <div class="editor">{{skeletonAsText}}</div>
          <a class="pure-button" onclick="saveSkeleton()">Export</a>
          <script>if (location.hash === '#open-editor') setEditMode(null)</script>
        </div>
      </div>
    </div>
    <div data-popbox-id="delete" class="popbox">
      <div class="popbox_container">
        <div class="content-header">Delete Application</div>
        <div class="content-text">
          Are you sure you want to delete this application?
        </div>
        <div class="content-text">
          It will also remove this application's data, including any data which is shared.
        </div>
        <div class="spacer">
          <button class="pure-button button-delete-app" data-popbox-close="delete">Yes</button>
          <button class="pure-button button-no" data-popbox-close="delete">No</button>
        </div>
      </div>
    </div>
    <div data-popbox-id="update" class="popbox">
      <div class="popbox_container">
        <div class="content-header">Update</div>
        <div class="content-text">
          Are you sure you want to update MinkeBox? Updated applications will be restarted.
        </div>
        {{#if cluster.length}}
        <div class="content-cluster">
          Hosts
          <select>
          <option value="local">Local</option>
          <option value="all">All</option>
          {{#each cluster}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>
        {{/if}}
        <div class="spacer">
          <button class="pure-button button-update" data-popbox-close="update">Update</button>
          <button class="pure-button button-no" data-popbox-close="update">No</button>
        </div>
      </div>
    </div>
    <div data-popbox-id="restart" class="popbox">
      <div class="popbox_container">
        <div class="content-header">Restart</div>
        <div class="content-text">
          Are you sure you want to restart MinkeBox? Applications will remain running in the background.
        </div>
        {{#if cluster.length}}
        <div class="content-cluster">
          Hosts
          <select>
          <option value="local">Local</option>
          <option value="all">All</option>
          {{#each cluster}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>
        {{/if}}
        <div class="spacer">
          <button class="pure-button button-restart" data-popbox-close="restart">Restart</button>
          <button class="pure-button button-no" data-popbox-close="restart">No</button>
        </div>
      </div>
    </div>
    <div data-popbox-id="reboot" class="popbox">
      <div class="popbox_container">
        <div class="content-header">Reboot</div>
        <div class="content-text">
          Are you sure you want to reboot the machine?
        </div>
        {{#if cluster.length}}
        <div class="content-cluster">
          Hosts
          <select>
          <option value="local">Local</option>
          <option value="all">All</option>
          {{#each cluster}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>
        {{/if}}
        <div class="spacer">
          <button class="pure-button button-reboot" data-popbox-close="reboot">Reboot</button>
          <button class="pure-button button-no" data-popbox-close="reboot">No</button>
        </div>
      </div>
    </div>
    <div data-popbox-id="halt" class="popbox">
      <div class="popbox_container">
        {{#if NoSystemControl}}
        <div class="content-header">Shutdown</div>
        <div class="content-text">
          Are you sure you want to shutdown? All applications will be shutdown.
        </div>
        {{#if cluster.length}}
        <div class="content-cluster">
          Hosts
          <select>
          <option value="local">Local</option>
          <option value="all">All</option>
          {{#each cluster}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>
        {{/if}}
        <div class="spacer">
          <button class="pure-button button-halt" data-popbox-close="halt">Shutdown</button>
          <button class="pure-button button-no" data-popbox-close="halt">No</button>
        </div>
        {{else}}
        <div class="content-header">Power Off</div>
        <div class="content-text">
          Are you sure you want to power off the machine?
        </div>
        {{#if cluster.length}}
        <div class="content-cluster">
          Hosts
          <select>
          <option value="local">Local</option>
          <option value="all">All</option>
          {{#each cluster}}
          <option value="{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>
        {{/if}}
        <div class="spacer">
          <button class="pure-button button-halt" data-popbox-close="halt">Power Off</button>
          <button class="pure-button button-no" data-popbox-close="halt">No</button>
        </div>
        {{/if}}
      </div>
    </div>
    <script>
      setActionProperties({{{properties}}});
      registerChanges({{{changes}}});
      const popbox = new Popbox({ blur:false, overlay:true });
      document.addEventListener('popbox_closing', (e) => {
        if (e.detail.source.classList.contains('button-delete-app')) {
          cmd('app.delete');
          msgToParent({ type: 'page.inline.close' });
        }
        else if (e.detail.source.classList.contains('button-restart')) {
          const host = document.querySelector('div[data-popbox-id="restart"] select');
          cmd('app.rerun', host ? host.value : 'local');
          msgToParent({ type: 'page.inline.close' });
        }
        else if (e.detail.source.classList.contains('button-update')) {
          const host = document.querySelector('div[data-popbox-id="update"] select');
          cmd('app.update', host ? host.value : 'local');
          msgToParent({ type: 'page.inline.close' });
        }
        else if (e.detail.source.classList.contains('button-reboot')) {
          const host = document.querySelector('div[data-popbox-id="reboot"] select');
          cmd('app.reboot', host ? host.value : 'local');
          msgToParent({ type: 'page.inline.close' });
        }
        else if (e.detail.source.classList.contains('button-halt')) {
          const host = document.querySelector('div[data-popbox-id="halt"] select');
          cmd('app.halt', host ? host.value : 'local');
          msgToParent({ type: 'page.inline.close' });
        }
      });
    </script>
  </body>
</html>
