<!DOCTYPE html>
<html class="console darkmode-{{DarkMode}}" style="background-color: white">
  <head>
    <link href="/css/xterm.css" rel="stylesheet" type="text/css">
    <link href="/css/console.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/xterm.js" type="text/javascript"></script>
    <script src="/js/xterm-addon-fit.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="consolescreen" style="height:100%"></div>
    <script>
      openConsole('consolescreen');
    </script>
  </body>
</html>
