<!DOCTYPE html>
<html class="console darkmode-{{DarkMode}}" style="background-color: white">
  <head>
    <link href="/css/xterm.css" rel="stylesheet" type="text/css">
    <link href="/css/console.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" type="text/javascript"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <div id="tabs">
      {{#each tab}}
        <a target="screen" href="{{ref}}">{{name}}</a>
      {{/each}}
    </div>
    <div id="console">
      <iframe name="screen" src="?s=1" allow="fullscreen" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>
    </div>
  </body>
</html>
