<!DOCTYPE html>
<html class="log" style="background-color: black">
  <head>
    <link href="/css/xterm.css" rel="stylesheet" type="text/css">
    <link href="/css/console.css" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
  </head>
  <body>
    <div id="tabs">
    {{#each tab}}
      <a target="screen" href="{{ref}}">{{name}}</a>
    {{/each}}
    </div>
    <div id="log">
      <iframe name="screen" src="?s=1" allow="fullscreen" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>
    </div>
  </body>
</html>
