:root:not(.darkmode) {
  --default-text-color: #333;
  --alt-text-color: #999;

  --nav-text-color: white;
  --nav-background-color: rgb(37, 42, 58);

  --app-list-border-color: #ddd;
  --app-list-background-color: #fff;
  --app-background-color: #fff;
  --app-border-color: #ddd;
  --app-border-size: 12px;
  --app-background-hover-color: #eee;
  --app-background-hover-color2: rgba(0,0,0,0.07);

  --widget-page-background-color: #f8f8f8;
  --widget-background-color: white;
  --widget-background-hover-color: #eee;
  --widget-border-color: #ccc;
  --widget-border-size: 2px;
  --widget-shadow-color: #bbb;
  --primary-text-color: black;
  --secondary-text-color: grey;

  --config-background-color: #f8f8f8;
  --config-text-color: #777;
  --config-input-background-color: white;
  --config-placeholder-text-color: #ccc;
  --config-input-disabled-background-color: #eaeded;
  --config-input-disabled-text-color: #cad2d3;
  --config-input-shadow-color: #ddd;
  --config-sidebar-background-color: rgb(61, 79, 93);
  --config-sidebar-text-color: #fff;

  --help-background-color: #dbeef5;

  --newapp-icon-shadow-color: #999;
  --newapp-icon-background-color: #fcfcfc;
  --newapp-icon-border-size: 5px;

  --graph-grid-color: #f2f2f2;

  --popbox-overlay-color: rgba(60, 52, 66, 0.7);
}

:root.darkmode {
  --default-text-color: #e0e0e0;
  --alt-text-color: #999;

  --nav-text-color: white;
  --nav-background-color: #2e2e2e;

  --app-list-border-color: #505050;
  --app-list-background-color: #252525;
  --app-background-color: #252525;
  --app-border-color: #505050;
  --app-border-size: 6px;
  --app-background-hover-color: #3e3e3e;
  --app-background-hover-color2: rgba(255,255,255,0.07);

  --widget-page-background-color: #1e1e1e;
  --widget-background-color: #2e2e2e;
  --widget-border-size: 1px;
  --widget-background-hover-color: #3e3e3e;
  --widget-border-color: transparent;
  --widget-shadow-color: transparent;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #c0c0c0;

  --config-background-color: #1e1e1e;
  --config-text-color: #e0e0e0;
  --config-input-background-color: #404040;
  --config-placeholder-text-color: #a0a0a0;
  --config-input-disabled-background-color: #2e2e2e;
  --config-input-disabled-text-color: #606060;
  --config-input-shadow-color: transparent;
  --config-sidebar-background-color: #2e2e2e;
  --config-sidebar-text-color: #e0e0e0;

  --help-background-color: #202040;

  --newapp-icon-shadow-color: transparent;
  --newapp-icon-background-color: #101010;
  --newapp-icon-border-size: 3px;

  --graph-grid-color: #666666;

  --popbox-overlay-color: rgba(0,0,0,0.7);
}
