html {
  background-color: #f8f8f8;
}
body {
  margin: 0px;
  height: 100%;
  color: #777;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}
.header {
  text-align: right;
  top: auto;
  margin: 3em 2em;
}
.header h2 {
  font-weight: 300;
  color: rgb(176, 202, 219);
}
.sidebar nav {
  height: 47px;
}
.sidebar nav a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.sidebar nav a:hover,
.sidebar nav a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.configure .header .name {
  background: inherit;
  font-size: 2em;
  width: 100%;
  text-align: right;
  padding: 2px;
  border: 0px;
  border-bottom: 2px solid rgb(176, 202, 219);
  outline: none;
  white-space: pre;
}

.configure .section {
  display: none;
}
.configure .section.visible {
  display: block;
}
.configure .content {
  padding: 2em 3em;
}
.configure .content-header {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 20px 0;
}
.configure .content-text {
  color: #777;
  line-height: 1.4em;
  padding-bottom: 1em;
}
.configure .actions label {
  width: 30% !important;
}
.configure .actions .file .value {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  height: 150px;
  padding: 10px 15px;
  overflow: scroll;
  font-family: monospace;
  font-size: 14px;
  white-space: pre;
  background-color: #fff;
  resize: vertical;
}
.configure .actions .file .value:focus {
  outline: none;
  border-color: #129FEA;
}
.configure .actions .table label {
  vertical-align: top;
}
.configure .actions .table table {
  display: inline-block;
  background-color: #fff;
  box-shadow: inset 0 1px 3px #ddd;
  overflow: hidden;
}
.configure .actions .table thead {
  background-color: transparent;
}
.configure .actions .table thead th {
  width: 10000px;
  white-space: pre;
}
.configure .actions .table thead th.control {
  width: 0px;
}
.configure .actions .table .add, .configure .actions .table .remove {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.configure .actions .share {
  display: block;
}

.configure .skeleton .editor {
  height: 600px;
}
.configure .skeleton {
  display: none;
  margin-bottom: 40px;
}
.configure.editing .skeleton {
  display: block;
}
.configure .skeleton .editor {
  border: 1px solid #ccc;
}
.configure .skeleton .editor.invalid {
  border-color: red;
}

html:not(.admin-mode) .admin-only, html.admin-mode .user-only {
  display: none;
}

.popbox .popbox_container {
  max-width: 460px;
  padding: 40px;
}
.popbox .button-delete-app, .popbox .button-no {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.popbox .button-no {
  background: rgb(28, 184, 65); /* this is a green */
}
.popbox .button-delete-app {
  background: rgb(202, 60, 60); /* this is a maroon */
}
.popbox .spacer {
  padding-top: 20px;
}

/* Popbox */
.popbox.visible{
  opacity:1;
  z-index: 999;
transition:opacity 0.3s ease;
}
.popbox.opened{
  display: block;
}

.popbox_locked .popbox_main_content.popbox_blur{
  filter:blur(15px);
}

html.popbox_locked{
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.popbox{
  z-index: -999;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: opacity;
  transition:opacity 0.3s ease;
  opacity:0;
  will-change: opacity;
  background: rgba(60, 52, 66, 0.7);
  padding:18px;
  padding-top:5%;
  overflow-y: auto;
  display: none;
}

.popbox_container{
  border-radius:5px;
  margin-bottom:18px;
  padding: 18px;
  margin-left:auto;
  margin-right:auto;
  background:#fff;
  max-width:400px;
}
