html {
  background-color: #f8f8f8;
}
body {
  margin: 0px;
  height: 100%;
  color: #777;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}
.header {
  text-align: right;
  top: auto;
  margin: 3em 2em;
}
.header h2 {
  font-weight: 300;
  color: rgb(176, 202, 219);
}
.sidebar nav a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.sidebar nav a:hover,
.sidebar nav a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.configure .header .name {
  background: inherit;
  font-size: 2em;
  width: 100%;
  text-align: right;
  padding: 2px;
  border: 0px;
  border-bottom: 2px solid rgb(176, 202, 219);
  outline: none;
}

.configure .section {
  display: none;
}
.configure .section.visible {
  display: block;
}
.configure .content {
  padding: 2em 3em 0;
}
.configure .content-header {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.configure .content-text {
  color: #777;
  line-height: 1.4em;
  padding-bottom: 0.4em;
}
.configure .actions label {
  width: 30% !important;
}
.configure .actions .file .value {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  height: 150px;
  padding: 10px 15px;
  overflow: scroll;
  font-family: monospace;
  white-space: pre;
  background-color: #fff;
}
.configure .actions .file .value:focus {
  outline: none;
  border-color: #129FEA;
}

.configure .skeleton {
  display: none;
  margin-bottom: 40px;
}
.configure.editing .skeleton {
  display: block;
}
.configure .skeleton .editor {
  font-family: monospace;
  white-space: pre;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2em;
  padding: 10px;
  outline: none;
  background: #fff;
}
.configure .skeleton .editor:focus {
  border-color: #129FEA;
}
.configure .skeleton .editor.invalid:focus {
  border-color: red;
}

html:not(.admin-mode) .admin-only {
  display: none;
}
