body {
  margin: 0px;
  height: 100%;
  color: var(--default-text-color);
  overflow: hidden;
  overscroll-behavior: contain;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main .nav {
  height: 100%;
  background: var(--nav-background-color);
  text-align: center;
  padding-bottom: 30px;
}
.main .nav .title {
  text-align: center;
  color: var(--nav-text-color);
  font-size: 150%;
  padding-top: 20px;
}
.main .nav .subtitle {
  text-align: center;
  color: var(--nav-text-color);
  font-size: 100%;
  padding-top: 20px;
}
.main .nav .build {
  font-size: 10px;
  color: #777;
}
.main .nav button {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: var(--nav-text-color);
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
  margin: 2em 0;
}
.main .nav button:hover {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.nav .pure-menu {
  text-align: left;
}
.nav .pure-menu-item {
  margin-left: 0.5em;
}
.nav .pure-menu-link {
  color: var(--nav-text-color);
  text-transform: capitalize;
}
.nav .pure-menu-link:hover,
.nav .pure-menu-link:focus {
  background: rgb(55, 60, 90);
}
.nav .pure-menu-link span {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 0.5em;
}
.nav .color-tag {
  padding: .35em 1em;
}

.main .operational {
  font-size: 9px;
  color: var(--alt-text-color);
}
.main .operational span {
  padding: 0px 5px;
}

.app {
  border-left: var(--app-border-size) solid transparent;
}

.app.tag-color-0 {
  border-left-color: #278b30;
}
.nav .pure-menu-link span.tag-color-0 {
  background: #278b30;
}
.app.tag-color-1 {
  border-left-color: #ffd73e;
}
.nav .pure-menu-link span.tag-color-1 {
  background: #ffd73e;
}
.app.tag-color-2 {
  border-left-color: #b12427;
}
.nav .pure-menu-link span.tag-color-2 {
  background: #b12427;
}
.app.tag-color-3 {
  border-left-color: #88cce7;
}
.nav .pure-menu-link span.tag-color-3 {
  background: #88cce7;
}
.app.tag-color-4 {
  border-left-color: #fd0a1a;
}
.nav .pure-menu-link span.tag-color-4 {
  background: #fd0a1a;
}
.app.tag-color-5 {
  border-left-color: #808020;
}
.nav .pure-menu-link span.tag-color-5 {
  background: #808020;
}
.app.tag-color-6 {
  border-left-color: #efad5a;
}
.nav .pure-menu-link span.tag-color-6 {
  background: #efad5a;
}
.app.tag-color-7 {
  border-left-color: #fd1a91;
}
.nav .pure-menu-link span.tag-color-7 {
  background: #fd1a91;
}
.app.tag-color-8 {
  border-left-color: #d85452;
}
.nav .pure-menu-link span.tag-color-8 {
  background: #d85452;
}
.app.tag-color-9 {
  border-left-color: #41b376;
}
.nav .pure-menu-link span.tag-color-9 {
  background: #41b376;
}
.app.tag-color-10 {
  border-left-color: #6b6bc9;
}
.nav .pure-menu-link span.tag-color-10 {
  background: #6b6bc9;
}
.app.tag-color-11 {
  border-left-color: #fd471f;
}
.nav .pure-menu-link span.tag-color-11 {
background: #fd471f;
}
.app.tag-color-12 {
  border-left-color: #4dbde9;
}
.nav .pure-menu-link span.tag-color-12 {
  background: #4dbde9;
}
.app.tag-color-13 {
  border-left-color: #c9ab32;
}
.nav .pure-menu-link span.tag-color-13 {
  background: #c9ab32;
}
.app.tag-color-14 {
  border-left-color: #36c742;
}
.nav .pure-menu-link span.tag-color-14 {
  background: #36c742;
}
.app.tag-color-15 {
  border-left-color: #8c668d;
}
.nav .pure-menu-link span.tag-color-15 {
  background: #8c668d;
}
.app.tag-color-16 {
  border-left-color: #fc743e;
}
.nav .pure-menu-link span.tag-color-16 {
  background: #fc743e;
}
.app.tag-color-17 {
  border-left-color: #a124b1;
}
.nav .pure-menu-link span.tag-color-17 {
  background: #a124b1;
}
.app.tag-color-18 {
  border-left-color: #ffefaf;
}
.nav .pure-menu-link span.tag-color-18 {
  background: #ffefaf;
}
.app.tag-color-19 {
  border-left-color: #06f34d;
}
.nav .pure-menu-link span.tag-color-19 {
  background: #06f34d;
}

.app .left {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--app-border-color);
  padding: 0.9em 1em;
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: var(--app-background-color);
}

.app .left.single:hover,
.app .right.link:hover {
  background-color: var(--app-background-hover-color);
}
.app .left a {
  text-decoration: none;
  color: inherit;
}
.app .left h6 a:hover {
  color: var(--default-text-color);
}
.app h5 {
  text-transform: uppercase;
  color: var(--alt-text-color);
  margin: 0;
  padding-bottom: 2px;
}
.app h4 {
  margin: 0;
  flex: 1;
}
.app h6 {
  margin: 0;
  color: var(--alt-text-color);
}
.app .left .link-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  clip-path: polygon(0 0, 0 100px, 150px 100px, 100px 0);
  -webkit-clip-path: polygon(0 0, 0 100px, 150px 100px, 100px 0);
}
.app .left .link-right {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  clip-path: polygon(150px 100px, 100% 100px, 100% 0px, 100px 0);
  -webkit-clip-path: polygon(150px 100px, 100% 100px, 100% 0px, 100px 0);
}
.app .left .link-left:hover, .app .left .link-right:hover {
  background-color: var(--app-background-hover-color2);
}

.app .right .status-header {
  width: 570px;
  height: 100px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.apps-info-container .application-status {
  position: relative;
  flex: 1;
  display: none;
  margin: 10px;
  height: 278px;
  background: var(--widget-background-color);
  border: solid var(--widget-border-size) var(--widget-border-color);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px var(--widget-shadow-color);
  padding: 10px;
}
.apps-info-container .application-status.running {
  display: inline-block;
}
.DISABLE-apps-info-container:last-child::after {
  display: inline-block;
  flex: 10000;
  content: ' ';
}
.apps-info-container .application-status.link:hover {
  background-color: var(--widget-background-hover-color);
}
.apps-info-container .application-status .status {
  height: 250px;
  max-height: 250px;
  overflow: hidden;
  font-size: 12px;
}

.apps-info-container .application-status .name {
  height: 1.4em;
  margin-right: -5px;
  color: var(--alt-text-color);
  float: right;
  font-size: 60%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: pre;
}

.icon {
  position: absolute;
  left: 250px;
  width: 24px;
  height: 24px;
}

.inline-page {
  z-index: 888;
  -webkit-overflow-scrolling: touch
}
.inline-page iframe {
  position: fixed;
  z-index: 1;
  background-color: white;
}

/* Move the layout over so we can fit the nav + list in on the left */
.layout {
  position: relative;
}

/* These are position:fixed; elements that will be in the left 500px of the screen */
.nav, .list, .info {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.nav {
  width: 200px;
  height: 100%;
  z-index: 2;
}

.list {
  width: 450px;
  height: 100%;
  padding-left: 200px;
  border-right: 1px solid var(--app-list-border-color);
  z-index: 1;
  background-color: var(--app-list-background-color);
}

.info {
  height: 100%;
  width: 100%;
  padding-left: 450px;
  background-color: var(--widget-page-background-color);
}
.info .apps-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
}

.application-status.tag-color-0 {
  border-color: #278b30;
}
.application-status.tag-color-1 {
  border-color: #ffd73e;
}
.application-status.tag-color-2 {
  border-color: #b12427;
}
.application-status.tag-color-3 {
  border-color: #88cce7;
}
.application-status.tag-color-4 {
  border-color: #fd0a1a;
}
.application-status.tag-color-5 {
  border-color: #808020;
}
.application-status.tag-color-6 {
  border-color: #efad5a;
}
.application-status.tag-color-7 {
  border-color: #fd1a91;
}
.application-status.tag-color-8 {
  border-color: #d85452;
}
.application-status.tag-color-9 {
  border-color: #41b376;
}
.application-status.tag-color-10 {
  border-color: #6b6bc9;
}
.application-status.tag-color-11 {
  border-color: #fd471f;
}
.application-status.tag-color-12 {
  border-color: #4dbde9;
}
.application-status.tag-color-13 {
  border-color: #c9ab32;
}
.application-status.tag-color-14 {
  border-color: #36c742;
}
.application-status.tag-color-15 {
  border-color: #8c668d;
}
.application-status.tag-color-16 {
  border-color: #fc743e;
}
.application-status.tag-color-17 {
  border-color: #a124b1;
}
.application-status.tag-color-18 {
  border-color: #ffefaf;
}
.application-status.tag-color-19 {
  border-color: #06f34d;
}

html:not(.advanced-mode) .admin-only, html.advanced-mode .user-only {
  display: none;
}

/* ----- */

.palette {
  color: #278b30;
  color: #ffd73e;
  color: #b12427;
  color: #88cce7;
  color: #fd0a1a;
  color: #808020;
  color: #efad5a;
  color: #fd1a91;
  color: #d85452;
  color: #41b376;
  color: #6b6bc9;
  color: #fd471f;
  color: #4dbde9;
  color: #c9ab32;
  color: #36c742;
  color: #8c668d;
  color: #fc743e;
  color: #a124b1;
  color: #ffefaf;
  color: #06f34d;
}
