* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #f8f8f8;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}
.header {
  text-align: left;
  top: auto;
  margin: 3em 2em;
}
.header h2 {
  font-weight: 300;
  color: rgb(176, 202, 219);
}
.header .name {
  background: inherit;
  font-size: 2em;
  width: 100%;
  text-align: left;
  padding: 2px;
  border: 0px;
}

.content {
  padding: 2em 3em 0;
}
.section {
  margin-bottom: 40px;
}
.section-header {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 10px;
}
.content label {
  color: #777;
}
.content .text {
  line-height: 1.4em;
  padding-bottom: 1em;
  color: #777;
}
.content .bar-title {
  display: flex;
  color: #777;
}
.content .download, .content .extract {
  flex: 1;
  margin: 0 10px;
}

.skel {
  display: inline-block;
  padding: 5px;
}
.skel .inner {
  display: flex;
  height: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.skel .inner:hover {
  border-color: #129FEA;
}
.skel .icon {
  display: inline-block;
  height: 80px;
  width: 80px;
  font-size: 200%;
  padding: 5px;
  border-radius: 5px;
}
.skel .info {
  display: inline-block;
  margin-left: 8px;
  max-height: 80px;
  overflow: hidden;
  flex: 1;
}
.skel .name {
  color:#999;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 0.1em;
}
.skel .description {
  
}

.bgcolor-0 {
  background-color: #b12427;
}
.bgcolor-1 {
  background-color: #efad5a;
}
.bgcolor-2 {
  background-color: #fd1a91;
}
.bgcolor-3 {
  background-color: #fd471f;
}
.bgcolor-4 {
  background-color: #ffd73e;
}
.bgcolor-5 {
  background-color: #278b30;
}
.bgcolor-6 {
  background-color: #808020;
}
.bgcolor-7 {
  background-color: #41b376;
}
.bgcolor-8 {
  background-color: #88cce7;
}
.bgcolor-9 {
  background-color: #d85452;
}

.popbox .popbox_container {
  max-width: 420px;
}
.popbox .section {
  margin: 20px 0;
}
.popbox .text {
  line-height: 1.4em;
  padding-bottom: 1em;
  text-transform: uppercase;
  color: #aaa;
}

/* Popbox */
.popbox.visible{
  opacity:1;
  z-index: 999;
transition:opacity 0.3s ease;
}
.popbox.opened{
  display: block;
}

.popbox_locked .popbox_main_content.popbox_blur{
  filter:blur(15px);
}

html.popbox_locked{
overflow: hidden;
-ms-touch-action: none;
touch-action: none;
}

.popbox{
  z-index: -999;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
will-change: opacity;
transition:opacity 0.3s ease;
opacity:0;
will-change: opacity;
  background: rgba(60, 52, 66, 0.7);
  padding:18px;
  padding-top:5%;
  overflow-y: auto;
  display: none;
}

.popbox_container{
  border-radius:5px;
  margin-bottom:18px;
  padding: 18px;
  margin-left:auto;
  margin-right:auto;
  background:#fff;
  max-width:400px;
}