html {
  font-family: sans-serif;
}
body {
  margin: 0px;
  height: 100%;
}

html.main {
  background-color: rgb(158, 180, 255);
}
.titlebar {
  height: 50px;
  background-color: black;
  padding: 0px 100px;
}
.titlebar .title {
  padding-top: 10px;
  color: white;
  font-size: 24px;
}
.info {
  position: relative;
  padding: 0px 200px;
}
.applications {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.applications td {
  width: 80px;
}
.applications td:first-child {
  width: auto;
}
.applications td:last-child {
  width: 20px;
}
.application {
  position: relative;
  display: inline-block;
  padding: 10px;
  height: 150px; 
  z-index: 3;
  box-sizing: border-box;
}

.applications .topbar .net {
  height: 36px;
}
.applications .bottombar .net {
  height: 36px;
}

.applications .home {
  position: absolute;
  margin: 5px 0px;
  height: 140px;
  width: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: -5px 5px 5px -5px #333;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}
.application .icon {
  margin-left: -6px;
  width: 32px;
  height: 32px;
}
.application .name {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 5px;
  vertical-align: bottom;
}
.application .ready {
  display: inline-block;
  font-size: 12px;
  padding-left: 5px;
  color: red;
  vertical-align: super;
}
.application .ready .online {
  color: green;
}
.application .status-box {
  height: 70px;
  min-width: 600px;
}
.application .status {
  position: absolute;
  overflow: hidden;
  padding-top: 5px;
}
.application .link {
  position: relative;
  float: right;
  z-index: 10;
}
.applications .net {
  position: relative;
  margin: 0px 5px;
  width: 90%;
  min-width: 70px;
  height: 150px;
  background-color: rgb(0, 97, 0);
  color: white;
  z-index: 0;
}
.applications .net:before {
  box-shadow: -5px 0px 5px -5px inset;
  content: " ";
  height: 100%;
  left: -15px;
  position: absolute;
  top: 0;
  width: 15px;
  color: #333;
}
.applications .net:after {
  box-shadow: 5px 0 5px -5px inset;
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  right: -15px;
  width: 15px;
  color: #333;
}
.applications .net.attached {
  z-index: 2;
}
.applications .ghosts .home {
  background-color: lightgrey;
  height: 40px;
}
.applications .ghosts .application {
  height: 50px;
}
.applications .ghosts .net {
  height: 50px;
}
.inline-page {
  position: fixed;
  z-index: 10;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 50px 0px 0px 50px;
  background-color: rgba(72, 72, 72, 0.84);
}
.inline-page iframe {
  background-color: white;
  box-shadow: 0px 0px 4px 1px grey;
}

.settings {
  margin: 40px;
}
.settings .icon {
  position: relative;
  top: 4px;
  width: 32px;
  height: 32px;
}
.settings .smallicon {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}
.settings .smallicon.right {
  float: right;
}
.settings .subtitle {
  display: inline-block;
  margin-bottom: 6px;
}
.settings .title {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 18px;
}
.settings .description {
  max-width: 600px;
}
.settings .bindings, .settings .image, .settings .ports, .settings .files, .settings .networks {
  margin: 18px 0px;
}
.settings .bind .targetname {
  display: inline-block;
  width: 50%;
}
.settings .bind .options {
  float: right;
}
.settings .bind .summary, .settings .image .summary, .settings .port .summary, .settings .file .summary {
  margin: 4px 12px 0px 12px;
}
.settings .smallicon {
  visibility: hidden;
}
.settings .editing .smallicon {
  visibility: visible;
}
.settings .editing .bindings .bindset:empty + .smallicon, .settings .editing .ports .portset:empty + .smallicon, .settings .editing .files .fileset:empty + .smallicon {
  visibility: hidden;
}
.settings .bindings .bind .shareable, .settings .bindings .bind .shared {
  display: inline-block;
  visibility: hidden;
}
.settings .editing .bindings .bind .shareable, .settings .editing .bindings .bind .shared, .settings .bindings .bind .shared.canshare {
  visibility: visible;
}
.settings .port {
  padding: 2px 0px;
}
.settings .port input, .settings .port select {
  font: inherit;
  -webkit-text-fill-color: inherit;
}
.settings .port .portnr {
  display: inline-block;
}
.settings .port .protocol {
  display: inline-block;
}
.settings .port .upnp {
  display: inline-block;
}
.settings .port .mdns {
  padding-left: 20px;
}
.settings .port .mdns.invisible {
  visibility: hidden;
}
.settings .editing .port .mdns.invisible {
  visibility: visible;
}
.settings .port .mdns .name {
  padding: 0px 0px 0px 10px;
}
.settings .bindings .bindset:empty:before, .settings .ports .portset:empty:before, .settings .files .fileset:empty:before {
  content: 'None'
}

.settings .monitor .title {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.settings .monitor .cmd, .settings .monitor .watch {
  display: inline-block;
  padding: 0px 10px;
  min-width: 70px;
}
.settings .monitor .cmd:empty, .settings .monitor .watch:empty {
  text-align: center;
}
.settings .monitor .polling {
  display: inline-block;
  padding: 0px 10px;
  min-width: 20px;
}
.settings .monitor .parser, .settings .monitor .template, .settings .file .data {
  white-space: pre;
  padding: 4px;
  margin: -4px 0px 4px 10px;
  min-height: 100px;
}

.settings div.editable, .settings span.editable {
  border: solid 1px white;
  border-radius: 10px;
  padding: 1px 5px;
}
.settings .files .file .data {
  border-color: lightgrey;
  xmin-height: 100px;
  xmargin-left: 10px;
  margin-top: 6px;
}
.settings .editing .editable {
  border: solid 1px lightblue !important;
}
.settings .editing .editable:focus {
  border-color: green !important;
  outline: none;
}
.settings [contentEditable][data-placeholder]:empty:before {
  color: lightgrey;
  content:attr(data-placeholder)
}
.settings .edit-mode, .settings .editing .view-mode {
  display: none;
}
.settings .editing .edit-mode, .settings .view-mode {
  display: block;
}